# Auto-detection of text files with LF normalization.
# This will handle all the file types not listed below.
*              text=auto

# Excluded Files
.gitattributes export-ignore
.gitignore     export-ignore

# Documents
*.adoc         text
*.bibtex       text diff=bibtex
*.csv          text
*.doc          diff=astextplain
*.docx         diff=astextplain
*.dot          diff=astextplain
*.md           text
*.mustache     text
*.pdf          diff=astextplain
*.rtf          diff=astextplain
*.tab          text
*.tex          text diff=tex
*.textile      text
*.tsv          text
*.sql          text

# Graphics
*.eps          binary
*.gif          binary
*.ico          binary
*.jpeg         binary
*.jpg          binary
*.png          binary
*.svg          text
*.tif          binary
*.tiff         binary

# Matlab - Source Files
*.m            text diff=matlab
*.mu           text diff=matlab

# Matlab - Binary Files
*.fig          binary
*.mat          binary
*.mdl          binary
*.mdlp         binary
*.mex*         binary
*.mlappinstall binary
*.mlpkginstall binary
*.mltbx        binary
*.mn           binary
*.p            binary
*.sldd         binary
*.slx          binary
*.slxp         binary
