# Autosave Files
*.asv
*.autosave
*.m~

# Binary Files
*.mex*

# Data Files
*.mat
octave-workspace

# Packaged Files
*.mlappinstall
*.mltbx

# Helpsearch Folders
helpsearch*/

# Code Generation Folders
codegen/
slprj/
sccprj/
